html {
    font-size: 14px;
    font-family: 'Cascadia Code',sans-serif;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

.cursor-pointer {
    cursor: pointer;
}
